<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Micro Git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F47036B21C6D0234009365D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47036CB1C6D0234009365D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47036D61C6D0234009365D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
